@CHARSET "UTF-8";

html {
	background-image: url(Kitterfly.svg);
	background-size: 100%;
	background-repeat: norepeat;
}

body {
	margin: 0;
}

#content {
	position: absolute;
	top: 0;
	left: 500px;
	font-size: 150%;
}